<!-- app.component.html -->
<header>
  <h1>BHAGAVAD GITA GURU</h1>
</header>

<!-- app.component.html -->
<main>
  <form (ngSubmit)="submitForm()">
    <input type="text" [(ngModel)]="inputValue" name="inputField" placeholder="ENTER HERE" />
    <button type="submit" [disabled]="isButtonDisabled">
      <span *ngIf="isGettingWisdom">GETTING WISDOM...</span>
      <span *ngIf="!isGettingWisdom">GET WISDOM</span>
    </button>
  </form>

  <p *ngIf="wisdomText" [innerHTML]="wisdomText" class="wisdom-text"></p>
</main>


<footer>
  <p>&copy; 2023 Bhagavad Gita Guru. All rights reserved.</p>
</footer>
